{% extends 'base/base.html' %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/course/course-detail.css' %}">
{% endblock %}

{% block title %}
courseDetail
{% endblock %}

{% block content %}
    <div class="course-contain">
      <div class="course-top-contain">
        <h4 class="course-title">课程标题</h4>
        <div class="course-other clearfix">
          <div class="share-list">
            <span>分享至:</span>
            <i class="PyWhich py-weibo"></i>
            <i class="PyWhich py-weibo2"></i>
          </div>
          <div class="buy-list">
            <span class="price">免费</span>
          </div>
        </div>
      </div>
      <div class="course-video" id="course-video">
      </div>
      <div class="course-bottom-contain">
        <div class="course-detail-list">
          <div class="course-item clearfix">
            <h5 class="course-title">课程讲师</h5>
            <div class="teacher-box clearfix">
              <img src="{% static 'images/avatar.jpeg' %}" alt="Which"
                   title="Which" class="teacher-avatar">
              <div class="teacher-info">
                <p class="teacher-name">Tuple</p>
                <p class="teacher-identify"> 人生苦短</p>
              </div>
            </div>
            <div class="item-content">
              人生苦短人生苦短人生苦短人生苦短人生苦短
            </div>
          </div>
          <div class="course-item clearfix">
            <h5 class="course-title">课程简介</h5>
            <div class="item-content">
              人生苦短人生苦短人生苦短人生苦短人生苦短
            </div>
          </div>
          <div class="course-item clearfix">
            <h5 class="course-title">课程大纲</h5>
            <div class="item-content">
              <p>人生苦短人生苦短人生苦短人生苦短</p>
            </div>
          </div>
          <div class="course-item clearfix">
            <h5 class="course-title">帮助中心</h5>
            <div class="item-content">
              <p>1. 购买后的课程在线可反复观看学习，视频有效期以具体课程信息为准。 </p>
              <p>2. 课程暂不支持下载观看，均为在线观看视频。 </p>
              <p>3. 课程一经购买，不可转让、不可退款；仅限购买账号观看。</p>
              <p>4. 如有问题请咨询客服: 400-1567-315 </p>
            </div>
          </div>
          <div class="course-item clearfix">
            <h5 class="course-title">关于潭州课堂</h5>
            <div class="item-content">
              湖南潭州教育网络科技有限公司拥有千余人的优秀师资团队，是一家师资丰富、教育产品类别众多的在线培训公司。公司总部座落于美丽的星城长沙，2015年9月正式入驻芯城科技园目前拥有近两万平米办公面积。
              在潭州学习的学员已突破1000万人次在线学员覆盖全球，包括中国、加拿大、日本、美国、韩国等诸多国家。
            </div>
          </div>
          <div class="course-item clearfix">
            <div class="item-content">
              <div class="item-course-title">123</div>
              <div class="item-buy-list">
                <span class="price">免费</span>
              </div>
            </div>
          </div>
        </div>
        <div class="course-side">
          <h4 class="side-title">推荐课程</h4>
        </div>
      </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}