{% extends 'base/base.html' %}


{% block link %}
    <link rel="stylesheet" href="{% static 'css/course/course.css' %}">
{% endblock %}

{% block title %}
course
{% endblock %}

{% block content %}

<main id="course-container">
        <div class="w1200">
            <ul class="course-list">
                {% for cours in courses %}
                <li class="course-item">
                    <a href="{% url 'course:course_detail' cours.id %}">
                        <img class="course-img" src="{{ cours.cover_url }}"
                            alt="潭州英语">
                        <div class="course-content">
                            <p class="course-info">{{ cours.category.name }}</p>
                            <p class="course-author">{{ cours.teacher.name }}</p>
                            <p class="course-price free">免费</p>
                        </div>
                    </a>
                </li>
                {% endfor %}




            </ul>
        </div>
    </main>
{% endblock %}

{% block script %}

{% endblock %}